# ML artifacts
# *.pkl
# *.json
# *.csv
# models/
# outputs/
# data/

# Python cache
__pycache__/
*.pyc
# Python


# But keep folder structure
# !models/.gitkeep
# !outputs/.gitkeep
# !data/.gitkeep

# Virtual environment
venv/
.env