numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.12.0
mlflow-skinny==3.12.0
matplotlib==3.8.4
pytest==9.0.3
pytest-json-report
exceptiongroup==1.2.0
tomli==2.0.1
streamlit
plotly
streamlit-autorefresh
